---
import type { Result } from "../../interfaces/pokemons.interface";

interface Props {
	pokemon: Result;
}

const { pokemon } = Astro.props;

const pokemonId = pokemon.url.split("/").at(-2);

const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`;

---

<div class="bg-gray-200 p-4 rounded-2xl flex flex-col items-center">
  <img src={imageSrc} alt={pokemon.name} />
  <h2 class="text-2xl text-center text-gray-800">{pokemon.name}</h2>
</div>
