---
// C칩digo Server side only - Momento de construcci칩n Build time
import MainLayout from "@layouts/MainLayout.astro";
import type { Pokemons, Result } from "@interfaces/pokemons.interface";
import Title from "@components/shared/Title.astro";
import PokemonsList from "@components/pokemons/PokemonsList.astro";

// Define la estructura de la p치gina paginada proporcionada por paginate
interface PaginatedPage<T> {
  data: T[];
  url: {
    current: string;
    prev: string | undefined;
    next: string | undefined;
  };
  size: number;
  total: number;
  currentPage: number;
  lastPage: number;
}

// Define las props esperadas para esta p치gina
interface Props {
  page: PaginatedPage<Result>;
}

export const getStaticPaths = async ({paginate}: { paginate: any }) => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151")
  const { results } = await response.json() as Pokemons
  
  return paginate(results, {pageSize: 12});
};

// Desestructura page de Astro.props con el tipo definido
const { page } = Astro.props as Props;
---

<MainLayout title="Pokemon static | Home">
	<Title>Pokemons List</Title>
	<PokemonsList currentPage={page.currentPage} />
</MainLayout>