---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import FavoritePokemonsVue from "@components/FavoritePokemonsVue.vue";
// import CounterVue from "@components/CounterVue.vue";

const counterValue = 10;
---

<MainLayout title="Favorites">
  <Title>Favorites</Title>

  <!-- <CounterVue
  transition:persist="counter"
  transition:persist-props
  client:visible
  initValue={counterValue}
  >
  <h1 class="text-4xl font-bold">Counter Island</h1>
  </CounterVue> -->

  <FavoritePokemonsVue client:only="vue" />

</MainLayout>