---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import CounterVue from "@components/CounterVue.vue";

const counterValue = 10;
---

<MainLayout title="Favorites">
  <Title>Islands</Title>

  <div
    style={{
      height: '2000px',
      backgroundColor: 'red',
      opacity: 0.4,
    }}
  >
  </div>

  <CounterVue
  transition:persist="counter"
  transition:persist-props
  client:visible
  initValue={counterValue}
  >
  <h1 class="text-4xl font-bold">Counter Island</h1>
  </CounterVue>

</MainLayout>